body {
  background-color: rgb(6, 22, 74) !important;
  color: white;
}
/* div {
  background-color: rgba(215, 225, 255, 0.72)338) !important;
} */
/* span {
  color: white;
}
p {
  color: white;
} */
.a8c37x1j .d2edcug0 {
  color: white;
}
.qu0x051f {
  background-color: rgb(6, 22, 74);
}
